<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />

<body style="text-align: center;">
	<img src="logo.png">
	<p></p>
	<img src="sans.png">
	
	<form action="/search">
		<input type="text" minlength="1" id="q" name="q">
		<input type="submit" value="Search">
	</form>
	<p>"©" Blattom Dev Team - in partnership with Melonz</p>
</body>

