<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
<link rel="stylesheet" href="/real.css" />

<body style="text-align: center;margin-top: 3rem;">
	<img class="home-logo" src="/reallogo.png">
	
	<form action="/real/search" class="home-form">
		<input type="text" class="searchBox" placeholder="Search for anything" minlength="1" id="q" name="q">
		<input type="submit" class="searchBtn" value="Search">
    </form>
    
	<p>© Blattom Dev Team - in partnership with Melonz</p>
</body>